@{
    ViewBag.Title = "Równanie kwadratowe";
}

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.equationStr</h3>

@if (ViewBag.rootsCount == -1)
{
    <h4 class="error">To nie jest równanie kwadratowe</h4>
} else if (ViewBag.rootsCount == 0) {
    <h4 class="warning">Nie ma rozwiązań</h4>
} else if (ViewBag.rootsCount == 1)
{
    <h4><i><b>x</b> = @ViewBag.x1</i></h4>
} else
{
    <h4><b>x1</b> = @ViewBag.x1 , <b>x2</b> = @ViewBag.x2</h4>
}

